{% load static %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Sam Werlin">

        <title>Augemented Biography | Sam Werlin</title>

        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'core/favicon-48.png' %}">
        <link rel="icon" type="image/png" href="{% static 'core/favicon-16.png' %}">
    </head>

    <body>


<nav>

<ul>

<a href="https://samwerlin1.pythonanywhere.com/">About Me</a> |
<a href="blackbox">The Blackbox</a> |
<a href="screenprint">Screenprint Project</a> |
<a href="biotech">Biotechnology Unit</a> |
<a href="music">Track and Field</a>

</ul>
</nav>



        <h1>Augmented Biography</h1>
        <h2>By Sam Werlin</h2>

	<h3>Modern World History</h3>
	<p>To start the augmented biography project, we wrote biographies about the people we picked. The biographies had to be at least a paragraph long and include a summary of the person’s life, as well as how they were connected to ESUMS. The person we picked also had to have a picture of themself on the wall at ESUMS so we could animate it from there. The person I picked was Igor Sikorsky, the creator of the helicopter and a founder of the Sikorsky Aviation company.</p>

 <figure><div class="flex-container">
  <div><img src="{% static 'core/pic1.jpg' %}"
alt="sikorsky"></div>

  <div><img src="{% static 'core/pic2.jpg' %}"
alt="sikorsky"></div>

  <div><img src="{% static 'core/pic7.webp' %}"
alt="wall"></div>

  <div><img src="{% static 'core/pic8.webp' %}"
alt="wall"></div>
</div>
</figure>

	<h3>What Is Motion Capture Animation?</h3>
	<p>Motion capture animation is a piece of technology in which one videos themself moving, and a character on a computer copies the same movements. When someone moves their arm, a puppet also moves their arm in the same way. Motion capture animation allows people to animate a character’s movement without having to go frame by frame. The Augmented Biography project was made using motion capture animation.</p>

<figure>
  <img src="{% static 'core/pic3.jpg' %}" alt="motioncapture">
</figure>

	<h3>Building the Puppet</h3>
	<p>After writing the script for the character we were making, it was time to actually create the character for the Augmented Biography project. For the motion capture animation, we had to make a puppet that could be manipulated when it came time to animate; in order to do this, we used Adobe Photoshop to draw the puppet. We needed a lot of reference layers including colors, images, mouth shapes, and the area we would be animating the character to. We also had to have certain layers for the puppet’s features to be on. There was a nose layer, right/left eye layers, a face layer, and a layer for each moth shape the puppet had to make.</p>
	<p>We were making two characters in my group and had three group members, so one group member and I built Sikorsky while the other group member built the other puppet. We spent a few days trying to draw the puppet and make it look correct; it was especially difficult because the Sikorsky puppet was being made to turn its head, and therefore needed three completely different faces. Finally we finished, and the result turned out to be okay for the project.</p>

<figure>
  <img src="{% static 'core/pic4.png' %}" alt="motioncapture">
</figure>

 <figure><div class="flex-container">
  <div><img src="{% static 'core/pic5.png' %}"
alt="sikorsky"></div>

  <div><img src="{% static 'core/pic6.png' %}"
alt="sikorsky"></div>
</div>
</figure>


	<h3>Animating the Puppet</h3>
	<p>After creating the puppet, I had to animate it using motion capture and record my biography script that I had written in history class. We used Adobe Character Animator to animate the puppet we made, and we used Adobe Audition to record the script. I had to rig the puppet so that the right things moved when I moved in the video, so the process took a while. After rigging, I recorded my audio from the script and brought it into Character Animator; then, I synchronized the audio with the puppet so that its mouth moved at the right moments. Finally, before downloading the animation, I recorded myself moving to make the puppet interact a little more while it spoke. I could submit. My other group member, who was working on the other puppet, recorded herself for the second character animation.</p>

	<h3>Augmented Biography Videos</h3>

<iframe width="789" height="444" src="https://www.youtube.com/embed/1qzbcNk9ayI" title="Sikorsky Augmented Biography" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="789" height="444" src="https://www.youtube.com/embed/TTKrS_mNLn0" title="Grace Hopper Augmented Biography" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h3>21st Century Skills</h3>
	<p>	Over the course of this project, I have enhanced the Capstone 21st Century Skill, Creativity and Innovation; I have practiced originality and inventiveness in writing my biography, building my puppet, and animating through motion capture. When I built the puppet, I had to use my creative talents to draw a puppet that looked similar to the historical figure I was basing it off of. When I rigged the puppet in Character Animator, I also had to be innovative and use my inventiveness to fix the problems that occurred as I tried to set the puppet up for motion capture.</p>



    </body>
</html>
