{% load static %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Sam Werlin">

        <title>Track and Field | Sam Werlin</title>

        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'core/favicon-48.png' %}">
        <link rel="icon" type="image/png" href="{% static 'core/favicon-16.png' %}">
    </head>

    <body>


<nav>

<ul>

<a href="https://samwerlin1.pythonanywhere.com/">About Me</a> |
<a href="blackbox">The Blackbox</a> |
<a href="screenprint">Screenprint Project</a> |
<a href="biotech">Biotechnology Unit</a> |
<a href="biograph">Augmented Biography</a>

</ul>
</nav>



    <h1>Track and Field</h1>
    <h2>By Sam Werlin</h2>

    	<h3>My Team</h3>
	<p>I am a part of the Hillhouse Track and Field team. We run at the Indoor Athletic Center at Hillhouse and the Outdoor Track nearby. I participate in meets during the season, and I train when we are between seasons. There are about 50 other students on my track team.</p>

	<h3>What I Run</h3>
	<p>At track, I mainly run the 1600 and the 3200, but I sometimes run the 4x800 relay. My personal record in the 1600 is 5:43, and my personal record in the 3200 is 12:46.</p>

</table>

<p id="tabletwo">A Few of My Races and their Times</p>
<table style="width:70%">
  <tr>
    <th>Date</th>
    <th>Race</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>5/23/25</td>
    <td>1600 m</td>
    <td>5:44</td>
  </tr>
  <tr>
    <td>5/13/25</td>
    <td>1600 m</td>
    <td>5:43</td>
  </tr>
 <tr>
    <td>5/7/25</td>
    <td>1600 m</td>
    <td>5:49</td>
  </tr>
 <tr>
    <td>5/7/25</td>
    <td>3200 m</td>
    <td>12:46</td>
  </tr>
 <tr>
    <td>5/7/25</td>
    <td>4x800</td>
    <td>10:04</td>
  </tr>

</table>

 <figure>
  <img src="{% static 'core/WhatsApp Image 2025-01-07 at 20.59.41_01aa6744.jpg' %}" alt="running">
</figure>

	<h3>21st Century Skills</h3>
	<p>Throughout this year of running track, I have enhanced my 21st Century Skill: Initiative, Self-Direction and Accountability. By running with a team, I have taken responsibility for my own practice and I have gotten faster with the effort I have put in. I have also made goal times for myself to meet, and I have managed the amount of time in the season effectively in order to reach my goals. Except for when I take strategic breaks, I am constantly practicing so that I will be more ready for the next track meet. </p>

    </body>
</html>
