{% load static %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Sam Werlin">

        <title>Track and Field | Sam Werlin</title>

        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'core/favicon-48.png' %}">
        <link rel="icon" type="image/png" href="{% static 'core/favicon-16.png' %}">
    </head>

    <body>


<nav>

<ul>

<a href="https://samwerlin1.pythonanywhere.com/">About Me</a> |
<a href="blackbox">The Blackbox</a> |
<a href="screenprint">Screenprint Project</a> |
<a href="biotech">Biotechnology Unit</a> |
<a href="biograph">Augmented Biography</a>

</ul>
</nav>



    <h1>Track and Field</h1>
    <h2>By Sam Werlin</h2>
    </body>
</html>
